/* Slider
================================================== */

/*-- Main slide --*/

#main-slide {
   .carousel-item {
      min-height: 900px;
      color: #fff;
      background-position: 100% 100%;
      background-size: cover;
      background-size: cover;
      backface-visibility: hidden;
      img {
         width: 100%;
         backface-visibility: hidden;
      }
      .slider-content {
         z-index: 1;
         opacity: 0;
         transition: opacity 500ms;
      }
      &.active .slider-content {
         opacity: 1;
         transition: opacity 100ms;
      }
   }
   .slider-content {
      padding: 50px 0 0 0;
      width: 100%;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      min-height: 900px;
   }
}